<launch>
    <!-- 启动SLAM节点，slam建图过程中会实时发布地图信息 -->
    <include file="$(find nav)/launch/demo01_gmapping.launch" />
    <!-- 运行move_base节点 -->
    <include file="$(find nav)/launch/demo04_move_base.launch" />
    <!-- 运行rviz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find nav)/config/demo04.rviz" />
</launch>
