<!-- 组合小车底盘与摄像头 -->
<robot name="my_car_camera" xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:include filename="demo02_inertial.urdf.xacro" />
    <xacro:include filename="demo02_base.urdf.xacro" />
    <xacro:include filename="demo02_camera.urdf.xacro" />
    <xacro:include filename="demo02_laser.urdf.xacro" />
</robot>
